body {
  font-family:Chicago,Verdana,sans-serif;
  font-size:12px;
  overflow:hidden;
  height:auto;
}

h1,h2,h3{line-height:inherit;}

h5 {margin-top: 0px ; margin-bottom: 8px;}

label { font-weight: normal;}

.nav-pills > li.active > a { color: #fff; background-color: #FFF; }

.navbar {
  margin-bottom: 0px;
}

.form-control {
	font-size:10px;
	max-height:26px;
	padding-left:30px;
}


.navbar-inverse { background-color: #0a7ca5;}

.navbar .brand {
  padding: 0px;
}

.navbar .navbar-text {
  margin-bottom:0;
  line-height:30px;
}

.navbar-nav > li > a {
  padding-top: 25px;
}

#leaflet-control{
	
}

.well {
  padding:10px 15px;
}

.well, .panel-group {
  margin-bottom: auto;
}

#map img {
  max-width: none;
}
.leaflet-container {
	height:100% !important;
}

#mapholder {
	height:863px;
}

.zone-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.zone-B   { background-color: #7474D7; }
.zone-C   { background-color: #7474D7; }
.zone-M   { background-color: #DCDC7F; }
.zone-R   { background-color: #7DD67D; }
.zone-RS  { background-color: #7DD67D; }
.zone-RT  { background-color: #7DD67D; }
.zone-RTA { background-color: #7DD67D; }
.zone-RM  { background-color: #7DD67D; }
.zone-PD  { background-color: #d27979; }
.zone-PMD { background-color: #DCDC7F; }
.zone-DX  { background-color: #7474D7; }
.zone-DC  { background-color: #7474D7; }
.zone-DR  { background-color: #7DD67D; }
.zone-DS  { background-color: #7474D7; }
.zone-T   { background-color: #9C9C9C; }
.zone-POS { background-color: #869b7c; }

.zone-B-text{ color: #7474D7; }
.zone-C-text{ color: #7474D7; }
.zone-M-text{ color: #DCDC7F; }
.zone-R-text{ color: #7DD67D; }
.zone-RS-text{ color: #7DD67D; }
.zone-RT-text{ color: #7DD67D; }
.zone-RTA-text{ color: #7DD67D; }
.zone-RM-text{ color: #7DD67D; }
.zone-PD-text{ color: #d27979; }
.zone-PMD-text{ color: #DCDC7F; }
.zone-DX-text{ color: #7474D7; }
.zone-DC-text{ color: #7474D7; }
.zone-DR-text{ color: #7DD67D; }
.zone-DS-text{ color: #7474D7; }
.zone-T-text{ color: #9C9C9C; }
.zone-POS-text{ color: #869b7c; }

.zone-legend li {font-weight: bold;}

#jplayer-tracks {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.8em;
}

#jp_container {
  margin-top: 10px;
}

#jp_container a:hover {
  text-decoration: none;
}

.district-list { margin-bottom: 40px;}
.district-list td{
  font-size: 0.9em;
  color: #333;
}

.leaflet-google-layer{
    z-index: 4 !important;
}
.leaflet-map-pane{
    z-index: 100;
}

.leaflet-layer{
}

.info, .coinfo, .spinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    /*background: rgba(255,255,255,0.8);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legendIcon {
    height: 23px;
    width: 23px;
    border: 2px solid;
    display: inline-block;
    vertical-align: middle;
}

.co {
  border-color: blue;
  background: rgba(0, 0, 255, 0.27);
}

.sp {
  border-color: #E2651A;
  background: rgba(241, 116, 24, 0.41);
}

.lh {
  border-color: #A452BF;
  background: rgba(159, 66, 214, 0.37);
}

#twitter-widget-0 {
  margin-top: 38px;
}

.fb_iframe_widget {
      margin-top: 38px;
    margin-left: 13px;
}

.info.leaflet-control {
  position: relative;
  top: -30px;
}

nav {
  height:84px;
}

.nopad {
	padding : 0px;
}

#search_address {
	position: relative;
}

table#villagealott, th, td, label, a {
	cursor : pointer;
	color: #000;
}

#filterbar {
    overflow-y:scroll;
	position:relative;
	max-height:863px;
}

/* SWITCH BUTTON CSS */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13Px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

/*SWITCH BUTTON CSS ENDS */